<footer>
<nav class="round">
    <ul>
      <li><%= link_to "Календарь", calendar_path %></li>
      <li><%= link_to "Все события", events_path %></li>
      <li><%= link_to "Создать событие", new_event_path %></li>
      <li><%= link_to "О сайте", about_path %></li>
      <li><%= link_to "Помощь", help_path %></li>
    </ul>
</nav>
</footer>